<!-- controls.html -->
<div class="left-pane">
  <div id="notification-container">
  </div>

  <div id="sheetControl">
    <div id="sheetControlLabel" style="font-weight: bold;">
      SHEET CONTROL = 20
    </div>
    <div>
      <button class="control-button" onclick="updateSheetControl(20)">20</button>
      <button class="control-button" onclick="increaseSheetControl(-1)">-1°</button>
      <button class="control-button" onclick="increaseSheetControl(1)">+1°</button>
      <button class="control-button" onclick="updateSheetControl(90)">90</button>
    </div>
  </div>

  <div id="daggerboardControl">
    <div id="daggerboardLabel" style="font-weight: bold;">
      DAGGERBOARD CONTROL = 0
    </div>
    <div>
      <button class="control-button" onclick="updateDaggerboardControl(-2)">-2</button>
      <button class="control-button" onclick="updateDaggerboardControl(-1)">-1</button>
      <button class="control-button" onclick="updateDaggerboardControl(0)">0</button>
      <button class="control-button" onclick="updateDaggerboardControl(1)">1</button>
      <button class="control-button" onclick="updateDaggerboardControl(2)">2</button>
    </div>
  </div>

  <div id="sailorPositionControl">
    <div id="sailorPositionLabel" style="font-weight: bold;">
      SAILOR POSITION = Mid Center
    </div>
    <div>
      <button class="control-button" onclick="updateSailorPosition('Fore')">Fore</button>
    </div>
    <div>
      <button class="control-button" onclick="updateSailorPosition('Hike Out')">Hike Out</button>
      <button class="control-button" onclick="updateSailorPosition('Mid Center')">Mid Center</button>
      <button class="control-button" onclick="updateSailorPosition('Leeward')">Leeward</button>
    </div>
    <div>
      <button class="control-button" onclick="updateSailorPosition('Aft')">Aft</button>
    </div>
  </div>

  <div id="ilcaControl">
    <div id="ilcaLabel" style="font-weight: bold">
      ILCA MANEUVER
    </div>
    <div class="row">
      <button class="control-button"  onclick="showNotification('Turn Port!'); window.globalSimulationData.ILCA.maneuver = 'turn-port'">Turn Port</button>
      <button class="control-button"  onclick="showNotification('Turn Starboard!'); window.globalSimulationData.ILCA.maneuver = 'turn-starboard'">Turn Starboard</button>
    </div>
    <div class="row">
      <button class="control-button"  onclick="showNotification('ILCA Heading -1'); window.globalSimulationData.ILCA.maneuver = 'heading-minus'">-1</button>
      <button class="control-button"  onclick="showNotification('ILCA Heading +1'); window.globalSimulationData.ILCA.maneuver = 'heading-plus'">+1</button>
    </div>
  </div>
  
  <div id="vangControl">
    <div id="vangLabel" style="font-weight: bold;">
      VANG CONTROL = 0
    </div>
    <div>
      <button class="control-button" onclick="updateVangControl(-2)">-2</button>
      <button class="control-button" onclick="updateVangControl(-1)">-1</button>
      <button class="control-button" onclick="updateVangControl(0)">0</button>
      <button class="control-button" onclick="updateVangControl(1)">1</button>
      <button class="control-button" onclick="updateVangControl(2)">2</button>
    </div>
  </div>

  <div id="downhaulControl">
    <div id="downhaulLabel" style="font-weight: bold;">
      DOWNHAUL CONTROL = 0
    </div>
    <div>
      <button class="control-button" onclick="updateDownhaulControl(-2)">-2</button>
      <button class="control-button" onclick="updateDownhaulControl(-1)">-1</button>
      <button class="control-button" onclick="updateDownhaulControl(0)">0</button>
      <button class="control-button" onclick="updateDownhaulControl(1)">1</button>
      <button class="control-button" onclick="updateDownhaulControl(2)">2</button>
    </div>
  </div>

  <div id="outhaulControl">
    <div id="outhauLabel" style="font-weight: bold;">
      OUTHAUL CONTROL = 0
    </div>
    <div>
      <button class="control-button" onclick="updateOuthaulControl(-2)">-2</button>
      <button class="control-button" onclick="updateOuthaulControl(-1)">-1</button>
      <button class="control-button" onclick="updateOuthaulControl(0)">0</button>
      <button class="control-button" onclick="updateOuthaulControl(1)">1</button>
      <button class="control-button" onclick="updateOuthaulControl(2)">2</button>
    </div>
  </div>
  </div>
</div>







